header {
  width: 100%;
  height: auto;
  position: relative;
  height: 100px;
  overflow: hidden;
}
header.fixed{
  position: fixed;
  top: 0;
  left: 0;
}

header:before {
  content: "";
  position: absolute;
  width: 1273px;
  height: 1273px;
  border-radius: 50%;
  left: 50%;
  top: -1173px;
  background-color: #3cb4e7;
  transform: translateX(-50%);
  z-index: 0;
  transition: 0.5s;
}

.header-blue:before {
  content: "";
  position: absolute;
  top: -360px;
  width: 3000px;
  height: 3000px;
  transition: 0.5s;
  border-radius: 50%;
  left: 50%;  
  background-color: #3cb4e7;
  transform: translateX(-50%);
  z-index: 0;
}

.menu-box {
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 10;
}

.header-logo {
  margin-top: 22px;
  float: left;
  position: relative;
}

.logo-dark {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  transition: 0.5s;
  opacity: 1;

}

.logo-light {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.5s;

}

.logo-hidden {
  opacity: 0;

}


header .menu-social-links {
  margin-top: 30px;
}

.menu-social-links {
  text-align: center;
}

.menu-social-links > li {
  display: inline-block;
  margin: 0 15px;
}

.menu-social-links > li > a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}

.menu-social-links > li.facebook > a {
  background-image: url("../img/icons/icon-facebook-white.png");
}



.btn-menu {
    float: right;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 40px;
    background-image: url("../img/icons/btn-menu-black.png");
}
.header-blue .btn-menu {
      background-image: url("../img/icons/btn-menu-white.png");
}

.btn-menu.menu-close {
    background-image: url("../img/icons/btn-close-white.png");
}

.phone-box {
    float: right;
    line-height: 100px;
    display: inline-block;
    margin-right: 60px;
    padding-left: 25px;
    position: relative;
}
.phone-box:before {
    content: "";
    width: 17px;
    height: 17px;
    background-image: url("../img/icons/icon-phone-red.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.phone-box a {
  color: #000;
}

.header-blue .phone-box > a {
    color: #fff;
}

.nav-box {
    position: absolute;
    z-index: 20;
    height: 100px;
    top: 0;
    opacity: 1;
    right: 10px;
    left: 200px;
    transition: 0.5s;
}

.nav-hidden {
    opacity: 0;
    top: -100%;
}


.nav-list {
    float: right;
}

.nav-list > li {
    display: inline-block;
    margin: 0 20px;
}

.nav-list > li.active a {
    border-bottom: 3px solid white;
}

.nav-list > li a {
    color: #fff;
}
.nav-list > li a {
    line-height: 97px;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    display: inline-block;
}





.click{
  margin-top: 200px;
}
