body {
  line-height: 20px;
  font-size: 16px;
  color: #000;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
}
button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

.relative {
  position: relative;
}

.section-dark {
  color: #fff;
}

h2 {
  font-size: 48px;
  line-height: 50px;
}

button.close {
  color: #fff;
  margin-top: 15px;
}

.modal-title {
  text-align: center;
}

header {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
}
@media (max-width: 767px) {
  header.fixed {
    position: static;
  }
}

.menu-box {
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 10;
}

.nav-box {
  position: fixed;
  z-index: 10;
  height: 100px;
  opacity: 1;
  left: 0;
  top: 0;
  width: 100%;
  transition: 0.5s;
}

.nav-list {
  float: right;
}
.nav-list > li {
  display: inline-block;
  margin: 0 20px;
}
.nav-list > li a {
  line-height: 97px;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  display: inline-block;
}
.nav-list > li a:hover {
  text-decoration: none;
  border-bottom: 3px solid white;
  transition: 0.5s;
}
.nav-list > li.active a {
  border-bottom: 3px solid white;
}

.nav-list > li a {
  color: #fff;
}

.nav-box {
  background-color: #3cb4e7;
}

.btn-menu {
  float: right;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 40px;
}

.header-white .btn-menu.menu-close {
  background-image: url("../img/icons/btn-close-white.png");
}
.header-white .btn-menu.menu-open {
  background-image: url("../img/icons/btn-menu-white.png");
}

.header-default .btn-menu.menu-close {
  background-image: url("../img/icons/btn-close-white.png");
}
.header-default .btn-menu.menu-open {
  background-image: url("../img/icons/btn-menu-black.png");
}

.header-logo {
  margin-top: 22px;
  float: left;
  position: relative;
}

.logo-dark {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.header-default .logo-dark {
  opacity: 1;
  transition: 0.5s;
}

.header-white .logo-dark {
  opacity: 0;
  transition: 0.5s;
}

.logo-dark.transparent {
  opacity: 0;
}

.logo-light {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}



.nav-hidden {
  opacity: 0;
  top: -100%;
}

.menu-hidden {
  opacity: 0;
  display: none;
}

header .menu-social-links {
  margin-top: 30px;
}

.menu-social-links {
  text-align: center;
}
.menu-social-links > li {
  display: inline-block;
  margin: 0 5px;
}
.menu-social-links > li > a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.menu-social-links > li.facebook > a {
  background-image: url("../img/icons/icon-facebook-white.png");
}
.menu-social-links > li.instagram > a {
  background-image: url("../img/icons/icon-instagram-white.png");
}
.menu-social-links > li.twitter > a {
  background-image: url("../img/icons/icon-twitter-white.png");
}
.menu-social-links > li.youtube > a {
    background-image: url("../img/icons/icon-youtube-white.png");
}
.menu-social-links > li.telegram > a {
    background-image: url("../img/icons/icon-telegram-white.png");
}
.menu-social-links > li.viber > a {
    background-image: url("../img/icons/icon-viber-white.png");
}
.menu-social-links > li.facebook > a:hover,
.menu-social-links > li.instagram > a:hover,
.menu-social-links > li.twitter > a:hover,
.menu-social-links > li.youtube > a:hover,
.menu-social-links > li.telegram > a:hover,
.menu-social-links > li.viber > a:hover{
  border: 1px solid #fff;
}

.phone-box {
  float: right;
  line-height: 100px;
  display: inline-block;
  margin-right: 60px;
  padding-left: 25px;
  position: relative;
}

.header-white .phone-box > a {
  color: #fff;
}

.header-default .phone-box:before {
  content: "";
  width: 17px;
  height: 17px;
  background-image: url("../img/icons/icon-phone-red.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.header-default .phone-box > a {
  color: #000;
}

.nav-bg-scroll {
  position: absolute;
  width: 1273px;
  height: 1273px;
  border-radius: 50%;
  left: 50%;
  top: -1173px;
  background-color: #3cb4e7;
  transform: translateX(-50%);
  z-index: 0;
  transition: 0.5s;
}

.header-white .nav-bg-scroll {
  top: -360px;
  width: 200%;
  height: 3000px;
  transition: 1s;
}

.blue-bg {
  background-color: #3cb4e7;
}

.section-info {
  margin-top: 100px;
  padding: 80px 0 200px 0;
}

.slider-info {
  margin-top: -65px;
}

.slide-info-img-box {
  position: relative;
}
.slide-info-img-box > img {
  position: relative;
  z-index: 10;
  width: 100%;
  height: auto;
}

.btn-slider {
  width: 100px;
  height: 100px;
  background-image: url("../img/icons/button-present-yellow.png");
  background-position: center;
  position: absolute;
  background-repeat: no-repeat;
  border: 2px solid white;
  border-radius: 50%;
  z-index: 2;
}
.btn-slider:focus {
  background-image: url(../img/icons/button-present-yellow.png);
}

.btn-wrap span{
  cursor: pointer;
}

.button-love button{
  background-image: url(../images/icon-love.png);
  background-size: 60%;
  background-color: #ef4949;
  border: 2px solid #fff;
}
.button-love .btn-desc {
  background-color: #ef4949;
  border: 2px solid #fff;
}
.button-love button:focus{
  background-image: url(../images/icon-love.png);
}
.love.slide-info-text-box h3{
  color: #ef4949!important;
}

.button-thank button{
   background-image: url(../images/icon-thank.png);
   background-size: 60%;
   background-color: #3cb4e7;
   border: 2px solid white;
 }
.button-thank .btn-desc {
  background-color: #3cb4e7;
  border: 2px solid #fff;
}
.button-thank button:focus{
  background-image: url(../images/icon-thank.png);
}
.thank.slide-info-text-box h3{
  color: #3cb4e7!important;
}

.button-encourage button{
  background-image: url(../images/icon-encourage.png);
  background-size: 60%;
  background-color: #12244e;
  border: 2px solid white;
}
.button-encourage .btn-desc {
  background-color: #12244e;
  border: 2px solid #fff;
}
.button-encourage button:focus{
  background-image: url(../images/icon-encourage.png);
}
.encourage.slide-info-text-box h3{
  color: #12244e!important;
}

.button-motivate button{
  background-image: url(../images/icon-motivate.png);
  background-size: 60%;
  background-color: #ffd600;
  border: 2px solid white;
}
.button-motivate .btn-desc {
  background-color: #ffd600;
  border: 2px solid #fff;
}
.button-motivate button:focus{
  background-image: url(../images/icon-motivate.png);
}
.motivate.slide-info-text-box h3{
  color: #ffd600!important;
}

.btn-wrap{
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 20;
  top: 50%;
  margin-top: -50px;
  right: -50px;
}
.btn-desc{
  position: absolute;
  width: 200px;
  color: white;
  height: 50px;
  margin-left: -150px;
  background: gold;
  z-index: 1;
  left: 0;
  top: 50%;
  margin-top: -25px;
  border-radius: 25px;
  padding: 13px;
  font-size: 18px;
}

.slide-info-text-box {
  margin-top: 150px;
}
.slide-info-text-box h2 {
  font-size: 90px;
  line-height: 100px;
}
@media (max-width: 1200px) {
  .slide-info-text-box h2 {
    font-size: 68px;
    line-height: 70px;
  }

}
.slide-info-text-box h3 {
  color: #ffd600;
  font-size: 22px;
  line-height: 26px;
}
@media (max-width: 1200px) {
  .slide-info-text-box h3 {
    font-size: 20px;
    line-height: 24px;
  }

}

.slider-info {
  position: relative;
}
.slider-info .arrow-next,
.slider-info .arrow-prev {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 100;
}
.slider-info .arrow-next {
  background-image: url("../img/icons/icon-close-2.png");
  right: 50%;
  transform: scaleX(-1);
}
.slider-info .arrow-prev {
  background-image: url("../img/icons/icon-close-2.png");
  left: 0;
}

@media (min-width: 1130px){
  .slider-info .arrow-next,
  .slider-info .arrow-prev {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100;
  }
  .slider-info .arrow-next {
    background-image: url("../img/icons/icon-close-2.png");
    right: -80px;
    transform: scaleX(-1);
  }
  .slider-info .arrow-prev {
    background-image: url("../img/icons/icon-close-2.png");
    left: -80px;
  }
}

.slider-info-counter {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.slider-info-counter > div {
  display: inline-block;
  color: rgba(0, 0, 0, 0.38);
}
.slider-info-counter > div:first-child {
  font-size: 32px;
  color: #000;
  margin-right: 40px;
}


.slick-active .slide-info-img-box.slide-in-right img {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slick-active .slide-info-img-box.slide-out-left img {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slick-active .btn-slider.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.2s;
}
.slick-active .btn-slider.slide-out-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation-delay: 0.2s;
}

.slick-active .slide-info-text-box.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.4s;
}
.slick-active .slide-info-text-box.slide-out-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation-delay: 0.4s;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

/*begin section-offer*/
.section-offer {
  position: relative;
}


.offer-tab-container {
  margin-top: -40px;
}
.nav-tabs {
  border-bottom: 0;
}
.offer-tab-container> .nav-tabs >li > a {
  width: 80px;
  height: 80px;
  border-radius: 50%;   
  margin-right: 0;
}

.printer-icon {
  background-image: url("../img/icons/printer-icon-lg-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #17173e!important;
  border: 2px solid #fff!important;
}
.offer-tab-container> .nav-tabs >li.active > .printer-icon {
  border: 2px solid #17173e!important;
}

.laptop-icon {
  background-image: url("../img/icons/notebook-icon-lg-white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #3cb4e7!important;
  border: 2px solid #fff!important;
}
.offer-tab-container> .nav-tabs >li.active > .laptop-icon{
  border: 2px solid #3cb4e7!important;
}

.relux-icon {
  background-image: url("../img/icons/relux-icon-lg-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #17173e!important;
  border: 2px solid #fff!important;
}
.offer-tab-container> .nav-tabs >li.active > .relux-icon{
  border: 2px solid #17173e!important;
}

.offer-background-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.offer-background-wrap .left-side {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #17173e;
}

.offer-background-wrap .right-side {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f6f6f6;
}

.offer-content-box {
  color: #fff;
  padding: 70px 0;
}

.offer-description {
  margin-top: 40px;
  width: 80%;
}

.offer-description > ul > li {
  list-style-type: none;
  padding-left: 40px;
  position: relative;
  margin: 10px 0;
}

.offer-description > ul > li:before {
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 0;
  background-size: contain;
}

.offer-description > ul li.icon-coin:before {
  background-image: url("../img/icons/icon-coins-yellow.png");
}
.offer-description > ul li.icon-brush:before {
  background-image: url("../img/icons/icon-brush-yellow.png");
}
.offer-description > ul li.icon-marker:before {
  background-image: url("../img/icons/icon-marker.png");
}

.offer-btn {
  margin: 30px 0;
}

.btn-buy {  
  padding-left: 80px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  position: relative;  
  transition: 0.5s;
  text-align: left;
}



.btn-buy.white {
  color: #fff;
}
.btn-buy.yellow {
  color: #ffd600;
}
.btn-buy.white:hover {
  color: #ffd600;
  text-decoration: none;
}
.btn-buy.yellow:hover {
  color: #fff;
  text-decoration: none;
}


.btn-buy:before {
  content: "";    
  background-color: #ffd600;      
  position: absolute;  
  left: 0;
  border-radius: 50%;   
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.btn-buy:hover:before {
  background-color: #fff;
}

.btn-buy.stich:before{
 background-image: url("../img/icons/stich-icon-white.png");
 width: 60px;
 height: 60px;
 top: -10px;
}
.btn-buy.stich {
  padding-left: 80px;
}
.btn-buy.stich:hover:before {
  background-image: url("../img/icons/stich-icon-yellow.png");
}

.btn-buy.present {
  padding-left: 120px;
}

.btn-buy.present:before{
 background-image: url("../img/icons/icon-present-white.png");
 width: 100px;
 height: 100px;
 top: -30px;
}

.btn-buy.present:hover:before {
  background-image: url("../img/icons/icon-present-yellow.png");
}

.offer-img-box {
  text-align: center;
  position: relative;
}


.mt--75 {
  margin-top: -75px;
}

/*end section-offer*/


/*begin section-conditions*/
.section-conditions {
  padding: 120px 0;
}
.condition-wrap {
  text-align: center;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.condition-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.condition-wrap.l-blue .condition-img {
  background-color: #3cb4e7;
  background-repeat: no-repeat;
  background-position: center;
}
.condition-wrap.d-blue .condition-img {
  background-color: #17173e;
  background-repeat: no-repeat;
  background-position: center;
}

.condition-wrap.red .condition-img {
  background-color: #f04949;
  background-repeat: no-repeat;
  background-position: center;
}

.condition-wrap.l-blue .condition-title {
  color: #3cb4e7;
}
.condition-wrap.d-blue .condition-title {
  color: #17173e;
}
.condition-wrap.red .condition-title {
  color: #f04949;
}


.condition-wrap .condition-description>ul>li
{
  list-style-type: none;
}
.condition-wrap .condition-description>ul>li>span { 
  padding-left: 15px;
  position: relative;
}
.condition-wrap .condition-description>ul>li>span:before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #3cb4e7;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 7.5px;
  
}
.condition-wrap.l-blue .condition-description>ul>li>span:before {
  background-color: #3cb4e7;
}
.condition-wrap.d-blue .condition-description>ul>li>span:before {
  background-color: #17173e;
}

.condition-wrap.red .condition-description>ul>li>span:before {
  background-color: #f04949;
}

.img-pay {
  background-image: url("../img/icons/condition-pay-icon.png");
}
.img-guarantee {
  background-image: url("../img/icons/condition-guarantee-icon.png");
}
.img-delivery {
  background-image: url("../img/icons/condition-delivery-icon.png");
}

.condition-title {
  margin-top: 50px;
}

.condition-title h3 {
  font-size: 40px;
  line-height: 46px;
  margin: 0;
}

.condition-description {
  margin-top: 20px;
}
/*end section-conditions*/

/*begin section-how-to-use*/
.section-how-to-use {
  padding: 100px 0;
}

.how-to-use-title {
  text-align: center;
}
.how-to-use-description p{
  text-align: center;
  color: rgba(0,0,0,0.6);
  margin-top: 60px;
}
/*end section-how-to-use*/

/*begin section-call-to-action*/
.section-call-to-action {
  padding: 130px 0;
  background-image: url("../img/section-advantages-bg.png");
  background-size: cover;
  background-position: center right;
}

.call-to-action-title {
  margin-top: 40px;
}

.call-to-action-text {
  margin-top: 20px;
  font-size: 18px;
}
.call-to-action-btn-box {
  margin-top: 50px;
}
/*end section-call-to-action*/

/*begin section-faq*/

.section-faq {
  padding: 80px 0;
}

.middle-line {
  position: relative;
  margin: 30px 0;
}
.middle-line:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-line {
  padding-top: 30px;
}


.accordion-box {
  background-color: #3cb4e7;
  display: none;
  padding: 30px 0 100px 0;
}

.faq-btn-toggle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 0;
  border: none;
  color: #fff;
  background-color: #3cb4e7;
  position: absolute;
  bottom: -50px;
  left: 50%;
  margin-left: -50px;
  z-index: 20;
  font-size: 22px;
}

.faq-open,
.faq-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.faq-close {
  background-image: url("../img/icons/accordion-close-icon-white.png");
  display: none;
}

.panel {
  background-color: transparent;
  box-shadow: none;
}

.panel-default > .panel-heading {
  background-color: transparent;
  color: #fff;
  padding: 20px;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
  border: none;
}

.panel-title {
  line-height: 40px;
  font-size: 20px;
}
.panel-title a {
  display: block;
  position: relative;
}
.panel-title a:hover, .panel-title a:focus, .panel-title a:active {
  text-decoration: none;
  outline: none;
}
.panel-title a:before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/stich-icon-white.png");
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
  transition: 0.5s;
  transform: rotate(45deg);
}

.panel-title a.collapsed:before {
  transform: rotate(0);
}

.panel-body {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  border-top: none;
  padding: 20px;
}

.panel-group .panel {
  border: none;
}

.btn-ask {
  float: right;
  width: 100%;
  max-width: 380px;
  line-height: 60px;
  border-radius: 30px;
  padding: 0;
  border-color: #e0e0e0;
  font-size: 16px;
  font-weight: bold;
  background-image: url("../img/icons/icon-question-yellow.png");
  background-repeat: no-repeat;
  background-position: 20px 50%;
  transition: 0.5s;
}

.btn-ask:hover,
.btn-ask:focus,
.btn-ask:visited,
.btn-ask:active,
.btn-ask:active:focus {
  background-color: #f1d02b;
  background-image: url("../img/icons/icon-question-white.png");
  border-color: #f1d02b;
  color: #fff;
}
/*end section-faq*/

/*begin section-contact*/

.section-contact {
  padding: 80px 0;
  overflow: hidden;
  max-height: 830px;
  position: relative;
}


.bottom-circle-lg {
  position: absolute;
  width: 3880px;
  height: 3880px;
  border-radius: 50%;
  background-color: #17173e;
  bottom: -3385px;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);
}
@media (max-width: 2999px) {
  .bottom-circle-lg {
    bottom: -3435px;
  }
}
@media (min-width: 2300px) {
  .bottom-circle-lg {
    width: 100%;
    bottom: -3450px;
    left: 0;
    z-index: 0;
    transform: none;
    border-radius: 0;
  }
}


.contact-title {
  margin-top: 75px;
}
@media (max-width: 1200px) {
  .contact-title {
    margin-top: 0;
  }
}


.contact-text {
  margin-top: 40px;
  padding-left: 40px;
}
@media (max-width: 1200px) {
  .contact-text {
    padding-left: 0;
  }
}

.contact-wrap {
  color: #fff;
  margin-top: 135px;
}


.contact-item {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
  padding-left: 70px;
  position: relative;
}
.contact-item a {
  color: #fff;
  line-height: 20px;
  display: block;
}
.contact-item a:hover {
  color: #fff;
  text-decoration: none;
}

.contact-item > div {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  font-size: 16px;
  font-weight: normal;
}

.contact-item:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-item.phone:before {
  background-image: url("../img/icons/phone-icon-white.png");
}

.contact-item.mode:before {
  background-image: url("../img/icons/mode-icon-white.png");
}

.contact-item.email:before {
  background-image: url("../img/icons/envelope-icon-white.png");
}

.img-box img {
  max-width: 100%;
  height: auto;
}


/*end section-contact*/

/*begin footer*/

footer {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
  padding: 25px 0;
  background-color: #17173e;
  color: #fff;
  z-index: 1;
}
footer .divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.38);
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}


.copyright {
  margin: 10px 0;
}



.link-web {
  float: right;
  color: #fff;
  padding-right: 100px;
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 40px;
}

.link-web:hover {
  color: #fff;
  text-decoration: none;
}
.link-web:before {
  content: "";
  width: 36px;
  height: 12px;
  background-image: url("../img/icons/arrow-next-white.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/*end footer*/

/*begin modals*/
.modal-backdrop {
  background-color: #ffd600;
  background-image: url("../img/popup-bg.png");s
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.modal-backdrop.in {
  opacity: 1;
}



.modal-white .modal-content {
  background-color: transparent;
  box-shadow: none;
  border: none;
  margin-top: 135px;
}

.modal-white .modal-dialog {
  width: 100%;
  max-width: 780px;
  margin-left: auto;
  margin-right: autos;
}

.modal-white .modal-header {
  border: none;
}

.modal-white .modal-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: boldss;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 25px;
  box-shadow: none;
  border: none;
  color: #000;
  height: 50px;
  padding: 15px;
  font-size: 16px;
}

.form-control:focus {
  outline: none;
  border: none;
  box-shadow: none;

}

.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  background-image: url("../img/icons/arrow-down-red.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;ss
}

textarea.form-control {
  resize: none;
  height: 260px;
}

.form-white .form-control::-webkit-input-placeholder
{
color: #000;
transition: 0.5s; }
.form-white .form-control::-moz-placeholder
{
color: #000;
transition: 0.5s; }
.form-white .form-control::-ms-input-placeholder
{
color: #000;
transition: 0.5s; }
.form-white .form-control:focus::-webkit-input-placeholder
{
opacity: 0; }
.form-white .form-control:focus::-moz-placeholder
{
color: #000;
transition: 0.5s; }
.form-white .form-control:focus::-ms-input-placeholder
{
color: #000;
transition: 0.5s; }

.btn-send {
width: 100px;
height: 100px;
background-color: #fff;
background-image: url("../img/icons/rocket-red-icon.png");
background-repeat: no-repeat;
background-position: center;
cursor: pointer;
border-radius: 50%;
display: block;
margin-left: auto;
margin-right: auto;
border: none;
transition: 0.5s;
margin-top: 50px;
}

.btn-send:hover {
background-image: url("../img/icons/rocket-white-icon.png");
background-color: #f04949;
}


.counter-label {
width: 100%;
height: 50px;
border-radius: 25px;
background-color: #fff;
font-size: 16px;
line-height: 20px;
padding: 15px;
font-weight: normal;
margin-bottom: 0;
}

.form-counter-group {
position: absolute;
right: 0;
top: 0;
height: 50px;
overflow: hidden;

}
.input-counter, .counter-increment, .counter-decrement {
display: inline-block;
}

.input-counter{
max-width: 60px;
border-radius: 25px;
line-height: 20px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
text-align: center;
height: 50px;
position: relative;
}  
.counter-decrement:after,
.counter-increment:before {
content: "";
width: 1px;
height: 40px;
background-color: rgba(0,0,0,0.12);
position: absolute;
top: 5px;
}
.counter-decrement:after {
right: -4px;
}
.counter-increment:before {
left: -4px;
}

.counter-decrement:before{
content: "";
width: 26px;
height: 50px;
background-image: url("../img/icons/rounded-left-yellow.png");
background-repeat: no-repeat;
background-position: center;
position: absolute;
top: 0;
left: 0;
}
.input-counter:focus{
box-shadow: none;   
}
.input-counter::-webkit-outer-spin-button,
.input-counter::-webkit-inner-spin-button{
-webkit-appearance: none;
}
.input-counter[type='number']{
-moz-appearance: textfield;
}
.counter-increment,
.counter-decrement {
color: #f04949;
font-size: 20px;
font-weight: bold;
padding: 15px 19px;
cursor: pointer;
position: relative;
width: 50px;
text-align: center;

}
.checkbox {
position: relative;
margin-top: 0;
}
.checkbox>label {
display: block;
padding-left: 0;
}
.checkbox .label-text {
position: relative;
cursor: pointer;
line-height: 20px;
display: block;

}

.input-checkbox {
position: absolute;
right: 9000px;
}

.input-checkbox + .label-text:before {
content: "";
width: 32px;
height: 32px;
background-image: url("../img/icons/icon-included.png");
position: absolute;
top: -6px;
right: -5px; }
.input-checkbox:checked + .label-text:before {
background-image: url("../img/icons/icon-unincluded.png"); }
.modal-close {
  width: 60px;
  height: 60px;
  background-image: url("../img/icons/accordion-close-icon-white.png")!important;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  opacity: 1!important;
}
/*end modals*/

/*begin animations*/
.heartbeat-active:not(.active),
.heartbeat,
.heartbeat_after:after,
.heartbeat_before:before{
    -webkit-animation: heartbeat 2s ease-in-out infinite both;
    animation: heartbeat 2s ease-in-out infinite both;
    animation-delay: 5s;
}
@keyframes heartbeat,
@keyframes heartbeat_after:after,
@keyframes heartbeat_before:before{
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-functison: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }


/*end animations*/


@media (max-width: 1023px) {

  .wow {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}

/*# sourceMappingURL=style.css.map */

body{
  position: relative;
  float: left;
  width: 100%;
}

body .body-bg-1{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/img/bg_circles_big.png");
  transition: .2s;
  transition-timing-function: ease-out;
  top: 0;
  left: 0;
}

body .body-bg-2{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/img/bg_circles_small.png");
  transition: .4s;
  transition-timing-function: ease-out;
  top: 0;
  left: 0;
}

.to-center{
  float: none;
  margin: 0 auto;
  display: table;
}

.section-how-to-use{
  background-color: white;
  position: relative;
  padding: 50px 0
}

.section-faq{
  background-color: white;
  position: relative;
}

.section-contact{
  background-color: white;
  position: relative;
}

.wrap-contact-blocks{
  position: relative;
  z-index: 1;
  margin-bottom: 90px;
}

.offer-img-box{
  width: 100%;
  min-height: 500px;
}

.animete-item{
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
}
.animete-item img,
.animete-item-2 img{
  max-width: 100%;
  max-height: 100%;
}
.animete-item-2{
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  margin-bottom: -110px;
}
.animete-item-2 a{
  position: absolute;
  left: 70px;
  top: 100px;
  width: 440px;
  height: 300px;
  transform: rotate3d(1, 1, 2.8, 37deg);
  z-index: 10;
}

.animete-item-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: auto;
}
.animete-item-3 img{
  max-width: 90%;
  width: 100%;
}

.how-to-use{
  position: relative;
  width: 100%;
  min-height: 100px;
  display: block;
}
.how-to-use a{
  position: relative;
  z-index: 510;
}
.left-side{
  position: relative;
  width: 50%;
  float: left;
  min-height: 160px;
}
.icon-block img{
  max-width: 100%;
  max-height: 100%;
}
.left-side .icon-block{
  right: 20px;
  position: absolute;
  top: 30px;
  z-index: 10;
  cursor: pointer;
}
.icon-close-block img{
  max-width: 100%;
  max-height: 100%;
}
.left-side .icon-close-block{
  right: 20px;
  position: absolute;
  top: 30px;
  margin-right: 20px;
  margin-top: 20px;
  z-index: 5;
  cursor: pointer;
}
.left-side .center-content{
  position: relative;
  margin-top: 80px;
  padding-right: 100px;
  padding-left: 100px;
  float: right;
}
.left-side .center-content:before{
  content: "";
  border-top: 1px solid #e0e0e0;
  display: block;
}

.right-side{
  position: relative;
  width: 50%;
  float: right;
  min-height: 160px;
}
.right-side .icon-block{
  left: 20px;
  position: absolute;
  top: 30px;
  z-index: 10;
  cursor: pointer;
}
.right-side .icon-close-block{
  right: 100%;
  position: absolute;
  top: 30px;
  margin-right: -100px;
  margin-top: 20px;
  margin-left: 100px;
  z-index: 5;
  cursor: pointer;
}
.right-side .icon-close-block img{
  max-width: 100%;
  max-height: 100%;
}
.right-side .center-content{
  position: relative;
  margin-top: 80px;
  padding-right: 100px;
  padding-left: 100px;
  float: left;
}
.right-side .center-content:before{
  content: "";
  border-top: 1px solid #e0e0e0;
  display: block;
}
.right-side a{
  color: #ff4748;
}

.block-item,
.block-item-2
{
  opacity: 0;
  height: auto;
  width: 16%;
  position: relative;
  top: 0;
  left: 0;
  vertical-align: text-top;
  padding-top: 20px;
  text-align: center;
  display: none
}
.block-item:before{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  background-image: url("/img/icons/icon-round.png");
  top: -10px;
  margin-left: -10px;
  left: 50%;
  z-index: 5;
}
.block-item-2:before{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  background-image: url("/img/icons/icon-round-2.png");
  top: -10px;
  margin-left: -10px;
  left: 50%;
  z-index: 5;
}

div{
  outline: none;
}

.wow {
  visibility: hidden;
}

.popcorn-wrap{
  position: relative;
}
#popcorn{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

/*custom select*/
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: black;
  width: 100%;
  height: 50px;
}
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 8px 15px;
  border-radius: 25px;
  transition: all 0.2s ease-in;
  z-index: 2;
  line-height: 2;
}
.select-styled:after {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url(../img/icons/arrow-down-red.png);
  position: absolute;
  top: 20px;
  right: 20px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in;
}
.select-styled.active:after {
  transform: rotate(180deg);
}
.select-options {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  border-radius: 25px;
  margin-top: -50px;
  padding-top: 50px;
  line-height: 2;
  box-shadow: 1px 1px 3px #00000040;
  overflow: hidden;
  transition: all 0.9s ease-in;
}
.select-options.hidden {
  display: none;
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  background-color: #ffd6004d;
}

.img-box{
  position: relative;
}

.btn-footer {
  width: 100px;
  height: 100px;
  background-image: url(../img/icons/button-present-yellow.png);
  position: absolute;
  z-index: 20;
  top: 50%;
  margin-top: -50px;
  right: -50px;
  padding: 0;
  background-repeat: no-repeat;
  border: none;
}
.btn-footer:focus {
  background-image: url(../img/icons/button-present-yellow.png);
}

.modal-open header.fixed {
  overflow-y: scroll;
}

.copyright a{
  color: gold;
}
.createdBy,
.createdBy a,
a.createdBy{
  color: #ffffff8c;
}

.link-wrap{
  border: 1px solid #ffffff73;
  padding: 10px 10px 10px 20px;
  text-align: center;
  border-radius: 30px;
  width: 320px;
  height: 62px;
}

.printed{
  display: none;
}