@import "components/_variables.sass"
@import "components/_common.sass"
@import "components/_sliders.sass"
@import "components/_modals.sass"
@import "components/_form.sass"
@import "components/sections/_header.sass"
@import "components/sections/_section-info.sass"
@import "components/sections/_section-offer.sass"
@import "components/sections/_section-call-to-action.sass"
@import "components/sections/_section-faq.sass"
@import "components/sections/_section-contact.sass"
@import "components/sections/_footer.sass"

.wow
	@media (max-width: 767px)
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important









