body
	line-height: 20px
	font-size: 16px
	color: $textColor
	font-family: 'PT Sans', Arial, Helvetica, sans-serif
html
	position: relative
	min-height: 100%
body
	margin-bottom: 95px

ul
	padding: 0
	margin: 0
button
	outline: none
	background-color: transparent
	&:focus, &:active
		outline: none!important
		box-shadow: none!important
.relative
	position: relative
.section-dark 
	color: $whiteColor
h2
	font-size: 48px
	line-height: 50px

