footer 
	position: absolute
	width: 100%
	height: auto	
	left: 0
	bottom: 0
	padding: 25px 0
	background-color: #17173e
	color: $whiteColor	
	.divider
		width: 100%
		height: 1px
		background-color: rgba(255,255,255,0.38)
		position: absolute
		top: -25px
		left: 50%
		transform: translateX(-50%)
	@media (max-width: 767px)
		text-align: center
		height: 605px
.copyright
	margin: 10px 0
.link-wrap
	@media (max-width: 992px)
		text-align: center
.link-web
	float: right
	color: $whiteColor
	padding-right: 100px
	position: relative
	font-size: 16px
	text-transform: uppercase
	font-weight: bold
	line-height: 40px
	@media (max-width: 992px)
		float: none
	&:hover
		color: $whiteColor
		text-decoration: none
	&:before
		content: ""
		width: 36px
		height: 12px
		background-image: url("../img/icons/arrow-next-white.png")
		background-position: center
		background-repeat: no-repeat
		position: absolute
		top: 50%
		right: 20px
		transform: translateY(-50%)
footer 
	.menu-social-links
		@media (max-width: 992px)
			text-align: right
			li 
				margin: 0 0 0 15px

	