header
	width: 100%
	height: 100px
	overflow: hidden
header.fixed
	position: fixed	  
	top: 0
	left: 0
	z-index: 800	
	@media (max-width: 767px)
		position: static





.menu-box
	width: 100%
	height: 100px
	position: relative
	z-index: 10
.nav-box
	position: absolute
	z-index: 20
	height: 100px
	top: 0
	opacity: 1
	right: 10px
	left: 200px
	transition: 0.5s
.nav-list
	float: right
	>li 
		display: inline-block
		margin: 0 20px
		a 
			line-height: 97px
			border-bottom: 3px solid rgba(255,255,255,0)
			display: inline-block
			&:hover
				text-decoration: none
				border-bottom: 3px solid rgba(255,255,255,1)
				transition: 0.5s
	>li.active
		a 
			border-bottom: 3px solid rgba(255,255,255,1)


.nav-list
	>li 
		a 
			color: $whiteColor
.nav-box
	background-color: $blueColor
.btn-menu
	float: right
	width: 20px
	height: 20px
	background-repeat: no-repeat
	background-position: center
	margin-top: 40px
.header-white
	.btn-menu.menu-close
		background-image: url("../img/icons/btn-close-white.png")
	.btn-menu.menu-open
		background-image: url("../img/icons/btn-menu-white.png")

.header-default
	.btn-menu.menu-close
		background-image: url("../img/icons/btn-close-white.png")
	.btn-menu.menu-open
		background-image: url("../img/icons/btn-menu-black.png")


.header-logo
	margin-top: 22px
	float: left
	position: relative
.logo-dark
	position: absolute
	top: 0
	left: 0
	z-index: 20
.logo-dark.transparent
	opacity: 0

.logo-light
	position: absolute
	top: 0
	left: 0
	z-index: 10
.nav-hidden
	opacity: 0
	top: -100%
.menu-hidden
	opacity: 0
	display: none
header .menu-social-links
	margin-top: 30px
.menu-social-links
	text-align: center
	>li 
		display: inline-block
		margin: 0 15px		
		>a 
			display: block
			width: 40px
			height: 40px
			border-radius: 50%
			border: 1px solid transparent
			background-position: center
			background-repeat: no-repeat
			transition: 0.5s	
	>li.facebook
			>a 
				background-image: url("../img/icons/icon-facebook-white.png")
				&:hover
					border: 1px solid $whiteColor		

		
.phone-box
	float: right
	line-height: 100px
	display: inline-block
	margin-right: 60px
	padding-left: 25px
	position: relative
.header-white
	.phone-box
		>a 
			color: $whiteColor
.header-default
	.phone-box
		&:before
			content: ""
			width: 17px
			height: 17px
			background-image: url("../img/icons/icon-phone-red.png")
			background-repeat: no-repeat
			position: absolute
			top: 50%
			left: 0
			transform: translateY(-50%)
		>a 
			color: $blackColor

.nav-bg-scroll
	position: absolute
	width: 1273px
	height: 1273px
	border-radius: 50%
	left: 50%
	top: -1173px
	background-color: $blueColor
	transform: translateX(-50%)
	z-index: 0
	transition: 0.5s
.nav-bg-scroll.lg
	top: -360px
	width: 3000px
	height: 3000px
	transition: 1s


.blue-bg
	background-color: $blueColor


		




	