.section-faq	
	padding: 80px 0
.middle-line
	position: relative
	margin: 30px 0	
	&:after
		content: ""
		width: 100%
		height: 1px
		background-color: #e0e0e0
		position: absolute
		bottom: 0
		left: 0
.bottom-line
	padding-top: 30px
	@media (max-width: 992px)
		padding-top: 80px
.accordion-box
	background-color: $blueColor
	display: none
	padding: 30px 0 100px 0

.faq-btn-toggle
	width: 100px
	height: 100px
	border-radius: 50%
	padding: 0
	border: none
	color: $whiteColor
	background-color: $blueColor
	position: absolute
	bottom: -50px
	left: 50%
	margin-left: -50px
	z-index: 20
	font-size: 22px
.faq-open,
.faq-close
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	width: 60px
	height: 60px
	line-height: 60px
	text-align: center
.faq-close
	background-image: url("../img/icons/accordion-close-icon-white.png")
	display: none

.panel
	background-color: transparent
	box-shadow: none
.panel-default > .panel-heading
	background-color: transparent	
	color: $whiteColor
	padding: 20px
	border-bottom: 1px solid 
	border-color: rgba(255,255,255,0.5)
	box-shadow: none
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group
	border: none
.panel-title
	line-height: 40px
	font-size: 20px
	a 
		display: block
		position: relative
		&:hover,
		&:focus,
		&:active
			text-decoration: none
			outline: none
		&:before
			content: ""
			width: 20px
			height: 20px
			background-image: url("../img/icons/stich-icon-white.png")
			position: absolute
			top: 50%
			right: 0
			margin-top: -10px
			transition: 0.5s
			transform: rotate(45deg)
.panel-title
	a.collapsed
		&:before
			transform: rotate(0)
.panel-body
	background-color: $whiteColor
	border-radius: 0 0 10px 10px
	border-top: none
	padding: 20px			
.panel-group .panel
	border: none

.btn-ask
	float: right
	width: 100%
	max-width: 380px
	line-height: 60px
	border-radius: 30px
	padding: 0
	border-color: #e0e0e0
	font-size: 16px
	font-weight: bold
	background-image: url("../img/icons/icon-question-yellow.png")
	background-repeat: no-repeat
	background-position: 20px 50%
	transition: 0.5s
.btn-ask:hover
	background-color: $yellowColor
	background-image: url("../img/icons/icon-question-white.png")
	border-color: $yellowColor
	color: $whiteColor