.section-contact
	padding: 80px 0
	overflow: hidden
	max-height: 830px
	position: relative
	@media (max-width: 992px)
		color: $whiteColor
.bottom-circle-lg
	position: absolute
	width: 3800px
	height: 3800px
	border-radius: 50%
	background-color: #17173e
	bottom: -3385px
	left: 50%
	z-index: -10
	transform: translateX(-50%)
	@media (max-width: 1200px)
		bottom: -3470px
	@media (max-width: 992px)
		width: 100%
		height: 600px
		bottom: 0
		border-radius: 0
.contact-title
	margin-top: 75px
	@media (max-width: 992px)
		margin-top: 0
.contact-text
	margin-top: 40px
	padding-left: 40px
	@media (max-width: 992px)
		padding-left: 0
		margin-top: 20px
.contact-wrap
	color: $whiteColor
	margin-top: 135px
	@media (max-width: 992px)
		margin-top: 40px
.contact-item 
	font-size: 18px
	font-weight: bold
	margin: 15px 0
	padding-left: 70px
	position: relative
	a 
		color: $whiteColor
		line-height: 20px
		display: block
		&:hover
			color: $whiteColor
			text-decoration: none
.contact-item>div 
	color: rgba(255,255,255,0.6)
	margin-top: 10px
	font-size: 16px
	font-weight: normal
.contact-item:before
	content: ""
	width: 20px
	height: 20px
	position: absolute
	top: 0
	left: 0
	background-repeat: no-repeat
	background-position: center
.contact-item.phone:before
	background-image: url("../img/icons/phone-icon-white.png")
.contact-item.mode:before
	background-image: url("../img/icons/mode-icon-white.png")
.contact-item.email:before
	background-image: url("../img/icons/envelope-icon-white.png")

.img-box
	img
		max-width: 100%
		height: auto
.contact-text-wrap	
	@media (max-width: 992px)
		width: 50%
		float: left
		padding: 0 10px
.contact-wrap
	@media (max-width: 992px)
		width: 50%
		float: left
		padding: 0 10px