.section-offer 
	background-color: $greyColor

.offer-wrap 
	position: relative	
	min-height: 560px

.offer-item
	padding: 50px 0

.offer-content,
.offer-img
	width: 50%
	float: left
.offer-content
	padding-right: 50px
	margin-top: 25px
.offer-img 
	text-align: right
	img
		max-width: 100%
		height: auto
.printed-sertificate
	.offer-img
		margin-top: -65px

	
.offer-description
	margin-top: 40px
	>ul 
		>li 
			list-style-type: none
			padding-left: 40px
			position: relative
			margin: 10px 0
			&:before
				content: ""
				width: 20px
				height: 20px
				background-repeat: no-repeat
				background-position: center
				position: absolute
				top: 50%
				margin-top: -10px
				left: 0
		li.icon-coin
			&:before
				background-image: url("../img/icons/icon-coins-yellow.png")
		li.icon-brush
			&:before
				background-image: url("../img/icons/icon-brush-yellow.png")
.offer-btn
	margin-top: 30px
.btn-buy
	color: $redColor
	padding-left: 80px
	text-transform: uppercase
	font-weight: bold
	display: block
	position: relative
	&:before
		content: ""
		width: 60px
		height: 60px
		background-image: url("../img/icons/icon-add-red.png")
		background-position: center
		background-repeat: no-repeat
		position: absolute
		top: -10px
		left: 0

.btn-switch
	width: 100px
	height: 100px
	background-color: $blueColor
	border-radius: 50%
	position: absolute
	left: 10px
	cursor: pointer
	background-repeat: no-repeat
	background-position: center
	z-index: 20
.btn-switch.top 
	top: -50px
.btn-switch.bottom
	bottom: 0
	transform: scale(0.5)
.btn-switch.printed
	background-image: url("../img/icons/printer-icon-lg-white.png")
.btn-switch.electronic
	background-image: url("../img/icons/notebook-icon-lg-white.png")

.offer-item-counter
	margin-top: 75px

.vert-divider
	width: 1px
	height: 160px
	margin: 30px 0
	background-color: rgba(0,0,0,0.12)



