
.section-info
	margin-top: 100px
	padding: 80px 0 200px 0
.slider-info
	margin-top: -65px
.slide-info-img-box
	position: relative
	>img 
		position: relative
		z-index: 10
.btn-slider
	width: 100px
	height: 100px
	background-image: url("../img/icons/icon-present-yellow.png")
	position: absolute
	z-index: 20
	top: 50%
	margin-top: -50px
	right: 40px
	padding: 0
	background-repeat: no-repeat
	
.slide-info-text-box
	margin-top: 150px
	h2 
		font-size: 90px
		line-height: 120px
	h3
		color: $yellowText
		font-size: 22px
		line-height: 26px

.slider-info
	position: relative
	.arrow-next,
	.arrow-prev
		position: absolute
		bottom: 0
		width: 50px
		height: 50px
		background-position: center
		background-repeat: no-repeat
		cursor: pointer
		z-index: 100
	.arrow-next
		background-image: url("../img/icons/arrow-next-grey.png")
		right: 50%
	.arrow-prev
		background-image: url("../img/icons/arrow-prev-grey.png")
		left: 0

.slider-info-counter
	
	display: flex
	align-items: center
	margin-top: 60px
	>div
		display: inline-block	
		color: rgba(0,0,0,0.38)
		
	>div:first-child
		font-size: 32px
		color: $textColor
		margin-right: 40px

.slick-active
	.slide-info-img-box.slide-in-right img
		-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
		animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
	.slide-info-img-box.slide-out-left img
		-webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both
		animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both

.slick-active
	.btn-slider.slide-in-right
		-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
		animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
		animation-delay: 0.2s

	.btn-slider.slide-out-left
		-webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both
		animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both
		animation-delay: 0.2s

.slick-active
	.slide-info-text-box.slide-in-right
		-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
		animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
		animation-delay: 0.4s

	.slide-info-text-box.slide-out-left
		-webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both
		animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both
		animation-delay: 0.4s

@-webkit-keyframes slide-in-right 
	0% 
		-webkit-transform: translateX(1000px)
		transform: translateX(1000px)
		opacity: 0
	
	100% 
		-webkit-transform: translateX(0)
		transform: translateX(0)
		opacity: 1
	

@keyframes slide-in-right 
	0% 
		-webkit-transform: translateX(1000px)
		transform: translateX(1000px)
		opacity: 0
	
	100% 
		-webkit-transform: translateX(0)
		transform: translateX(0)
		opacity: 1



@-webkit-keyframes slide-out-left 
	0% 
		-webkit-transform: translateX(0)
		transform: translateX(0)
		opacity: 1
	
	100% 
		-webkit-transform: translateX(-1000px)
		transform: translateX(-1000px)
		opacity: 0
	

@keyframes slide-out-left 
	0% 
		-webkit-transform: translateX(0)
		transform: translateX(0)
		opacity: 1
	
	100% 
		-webkit-transform: translateX(-1000px)
		transform: translateX(-1000px)
		opacity: 0
	


	


	
