.section-call-to-action
	padding: 130px 0
	background-image: url("../img/section-advantages-bg.png")
	background-size: cover
	background-position: center right
.call-to-action-title
	margin-top: 40px
.call-to-action-text
	margin-top: 20px
	font-size: 18px